<p-panel header="Compose mail">
  <form [formGroup]="emailForm" (ngSubmit)="onSubmit()" class="ui-g">
    <div class="ui-g-12">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon">From:</span>
        <input type="text" pInputText value="{{emailForm.get('from').value.name}} ({{emailForm.get('from').value.email}})" disabled>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon">To:</span>
        <tag-input formControlName="to" secondaryPlaceholder='' placeholder [displayBy]="'email'" [identifyBy]="'email'">
          <tag-input-dropdown [autocompleteObservable]='matchedContacts' [matchingFn]="matchingfn"
                              [displayBy]="'email'" [identifyBy]="'email'">
            <ng-template let-item="item" let-index="index">
              <strong>{{ item.name }}</strong> {{ item.email }}
            </ng-template>
          </tag-input-dropdown>
        </tag-input>
        <a class="ui-inputgroup-addon">
          <i class="fa ui-icon-perm-identity"></i>
        </a>
        <a *ngIf="!displayCC" class="ui-inputgroup-addon" (click)="displayCC = true">CC</a>
        <a *ngIf="!displayBCC" class="ui-inputgroup-addon" (click)="displayBCC = true">BCC</a>
      </div>
    </div>

    <div *ngIf="displayCC" class="ui-g-12">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon">Cc:</span>
        <tag-input formControlName="cc" secondaryPlaceholder='' placeholder>
          <tag-input-dropdown [autocompleteItems]="['iTem1', 'item2', 'item3']">
          </tag-input-dropdown>
        </tag-input>
        <a class="ui-inputgroup-addon">
          <i class="fa ui-icon-perm-identity"></i>
        </a>
      </div>
    </div>
    <div *ngIf="displayBCC" class="ui-g-12">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon">Bcc:</span>
        <tag-input formControlName="bcc" secondaryPlaceholder='' placeholder>
          <tag-input-dropdown [autocompleteItems]="['iTem1', 'item2', 'item3']">
          </tag-input-dropdown>
        </tag-input>
        <a class="ui-inputgroup-addon">
          <i class="fa ui-icon-perm-identity"></i>
        </a>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-inputgroup">
        <input type="text" pInputText placeholder="Subject" formControlName="subject">
      </div>
    </div>
    <div class="ui-g-12">
      <textarea [rows]="10" pInputTextarea autoResize="autoResize" formControlName="text"></textarea>
    </div>
    <button type="submit" label="Send" icon="ui-icon-send" pButton></button>
  </form>
</p-panel>
