<p-panel header="Compose mail">
  <form [formGroup]="emailForm" (ngSubmit)="onSubmit()" class="ui-g">
    <div class="ui-g-12">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon">From:</span>
        <input type="text" pInputText value="{{emailForm.get('from').value.name}} ({{emailForm.get('from').value.email}})" disabled>
      </div>
    </div>
    <div class="ui-g-12">
      <address-field [form]="emailForm" label="To" [formName]="'to'" (onFocus)="displayBCC && hideBcc()"></address-field>
    </div>

    <div class="ui-g-12">
      <address-field [form]="emailForm" [label]="displayBCC ? 'Cc': 'Cc/Bcc'" [formName]="'cc'"
                     (onFocus)="!displayBCC && (displayBCC = true)"></address-field>
    </div>
    <div *ngIf="displayBCC" class="ui-g-12">
      <address-field [form]="emailForm" label="Bcc" [formName]="'bcc'"></address-field>
    </div>

    <div class="ui-g-12">
      <div class="ui-inputgroup">
        <input type="text" pInputText placeholder="Subject" formControlName="subject" (focus)="displayBCC && hideBcc()">
      </div>
    </div>
    <div class="ui-g-12">
      <textarea [rows]="10" pInputTextarea autoResize="autoResize" formControlName="text" (focus)="displayBCC && hideBcc()"></textarea>
    </div>
    <button type="submit" label="Send" icon="ui-icon-send" pButton></button>
  </form>
</p-panel>
